.mainnet.gas-price.json
.testnet.gas-price.json
.testnet.seed-phrase

.testnet.seed-phrase
.testnet.gas-price.json
.mainnet.gas-price.json
rskj-node/logs/rsk.log

.testnet.seed-phrase
.testnet.gas-price.json
.mainnet.gas-price.json
